<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [5]:
print("Hello My Name is Ricky Jonathan ")

nama = "Hello my Name is Ricky Jonathan"
print (nama)

nama1 = "Ricky Jonathan"
print("Hello my name is "+nama1)

nama = "Ricky Jonathan"
print("Hello my name is {}".format(nama))

Hello My Name is Ricky Jonathan
Hello my Name is Ricky Jonathan
Hello my name is Ricky Jonathan
Hello my name is Ricky Jonathan

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [13]:
# Soal a
a = 4*15/12
print("Jawaban A =",a)

# Soal b
b = 8**(1/3)
print("Jawaban B =",b)

# Soal c
uang = 50000
harga = 7500
berapa = 50000//7500
jumlahkertas = berapa*100
kembali = 50000-(7500*berapa)
print("Jumlah kertas yang dia dapat =",jumlahkertas)
print("Kembali yang dia dapat = ",kembali)

Jawaban A = 5.0
Jawaban B = 2.0
Jumlah kertas yang dia dapat = 600
Kembali yang dia dapat =  5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [18]:
# Konversi

a = int("1000")
print(a)
print(type(a))

b = int(5.25)
print(b)
print(type(b))

c = float(5)
print(c)
print(type(c))

d = str(1000)
print(d)
print(type(d))

1000
<class 'int'>
5
<class 'int'>
5.0
<class 'float'>
1000
<class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [19]:
# 1
quote = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = quote[20:31]
print(substring)

# 2
words_list = quote.split()
print(words_list)

# 3
reversed_quote = quote[::-1]
print(reversed_quote)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [21]:
# Fakultas

fakultas = ("Fakultas Management & Bisnis","Fakultas SIFT","Fakultas Industri Kreatif","Fakultas Psikologi","Fakultas Pariwisata","Fakultas Ilmu Komunikasi & Media Bisnis","Fakultas Kedokteran")


jumlah_fakultas = len(fakultas)
print(f"Jumlah fakultas di UC: {jumlah_fakultas}")


posisi_sift = fakultas.index("Fakultas SIFT")
print(f"Posisi fakultas SIFT: {posisi_sift}")

Jumlah fakultas di UC: 7
Posisi fakultas SIFT: 1

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [27]:
# 1
fav = ["pizza","sushi","soto"]

# 2
for maem in fav :
  print(maem)

# 3
for maem in fav :
  print(f"Aku ingin pesan {maem}")

# 4
fav[0] = ["rujak"]
print(f"Aku ingin pesan {fav[0]}")

pizza
sushi
soto
Aku ingin pesan pizza
Aku ingin pesan sushi
Aku ingin pesan soto
Aku ingin pesan ['rujak']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [30]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
a = set1.union(set2)
print(a)
# 3
set3 = {5, 7}
intersection = set1.intersection(set3)
tidak_intersection = len(intersection) == 0
print(tidak_intersection)

# 4
set4 = {2, 3}
is_subset = set4.issubset(set1)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [43]:
# Program Bayar Listrik

def hitung_tarif_listrik():
    try:
        penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))
        if penggunaan < 0:
            raise ValueError("Penggunaan tidak boleh negatif.")
        if penggunaan < 100:
            penggunaan = 100
            tarif_per_kWh = 1000
        elif penggunaan < 1000:
            tarif_per_kWh = 1000
        else:
            tarif_per_kWh = 2000
        total_biaya = penggunaan * tarif_per_kWh

        if penggunaan >= 1000:
            total_biaya += total_biaya * 0.10
        print(f"Total tarif yang harus dibayar: Rp{total_biaya:.2f}")

    except ValueError as e:
        print(f"Error: {e}. Silakan masukkan angka yang valid.")

hitung_tarif_listrik()

Masukkan jumlah penggunaan listrik (kWh): 12
Total tarif yang harus dibayar: Rp100000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [52]:
# Program Angkot Abdimas UC

def hitung_angkot():
    try:
        jumlah = float(input("Masukkan jumlah siswa: "))
        if jumlah < 0:
            raise ValueError("Jumlah tidak boleh negatif.")
        if jumlah <= 10:
            angkot = 1
        elif jumlah > 10:
            angkot = jumlah//10

        if jumlah//10 != 0 :
            angkot =  angkot + 1
        print(f"Jumlah angkot yang diperlukan: {int(angkot)}")

    except ValueError as e:
        print(f"Error: {e}. Silakan masukkan angka yang valid.")

hitung_angkot()

Masukkan jumlah siswa: a
Error: could not convert string to float: 'a'. Silakan masukkan angka yang valid.

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [63]:
import numpy as np
import random
# 1
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

In [64]:
# 2
hari_sorted = np.sort(hari)

In [65]:
# 3
hari_random = random.choice(hari_sorted)
print(f"Selamat hari {hari_random} adalah hari baikmu bulan ini!")

Selamat hari Jumat adalah hari baikmu bulan ini!

In [66]:
# 4
matriks_random = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4:")
print(matriks_random)

Matriks 3x4:
[[2 4 6 1]
 [5 3 3 6]
 [5 2 2 6]]

In [67]:
# 5
print(f"Shape: {matriks_random.shape}")
print(f"Dimensi: {matriks_random.ndim}")

Shape: (3, 4)
Dimensi: 2

In [68]:
# 6
kolom_ketiga = matriks_random[:, 2]
print("Elemen kolom ketiga:")
print(kolom_ketiga)

Elemen kolom ketiga:
[6 3 2]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [69]:
import pandas as pd

# 1
data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)
print("Pandas Series:")
print(series)

# 2
data_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
df_dict = pd.DataFrame([data_dict])
print("\nPandas DataFrame dari dictionary:")
print(df_dict)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame dari dictionary:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [76]:
# 3
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls'
df = pd.read_csv(url)
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [78]:
# 4
kota_unique = df['State'].unique()
print("\nKota yang ada dalam dataset:")
print(kota_unique)

Kota yang ada dalam dataset:
['New York' 'California' 'Florida']

In [79]:
# 5
random_sample = df.sample(n=10, random_state=1)
print("\n5 row pertama dari dataset random:")
print(random_sample.head())

5 row pertama dari dataset random:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [80]:
# 6
print("\nInformasi singkat dari DataFrame:")
df.info()

Informasi singkat dari DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [82]:
# 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\n'R&D Spend' dan 'Marketing Spend' dari kota California:")
print(california_data)

'R&D Spend' dan 'Marketing Spend' dari kota California:
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [83]:
# 8
missing_values = df.isnull().sum()
print("\nJumlah missing values di setiap kolom:")
print(missing_values)

Jumlah missing values di setiap kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [84]:
# 9
df_filtered = df[df['Profit'] >= 50000]

In [85]:
# 10
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame setelah drop dan diurutkan berdasarkan 'Marketing Spend':")
print(df_sorted)

DataFrame setelah drop dan diurutkan berdasarkan 'Marketing Spend':
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [86]:
# 1
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv'
df = pd.read_csv(url)

In [87]:
# 2
print("10 data random dari dataset:")
print(df.sample(10))

10 data random dari dataset:
      No  X1 transaction date  X2 house age  \
2      3             2013.583          13.3
133  134             2012.833          18.0
20    21             2013.417           4.5
98    99             2013.417          16.4
177  178             2013.083          33.0
290  291             2013.083          37.7
110  111             2013.083           8.1
294  295             2013.500          26.4
352  353             2012.833          18.4
369  370             2012.667          20.2

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
2                                  561.9845                                5
133                                373.3937                                8
20                                2275.8770                                3
98                                 289.3248                                5
177                                181.0766                                9
290                                490.3446                                0
110                                104.8101                                5
294                                335.5273                                6
352                               2674.9610                                3
369                               2185.1280                                3

     X5 latitude  X6 longitude  Y house price of unit area
2       24.98746     121.54391                        47.3
133     24.98660     121.54082                        39.5
20      24.96314     121.51151                        29.3
98      24.98203     121.54348                        51.0
177     24.97697     121.54262                        42.0
290     24.97217     121.53471                        37.0
110     24.96674     121.54067                        51.6
294     24.97960     121.54140                        38.1
352     24.96143     121.50827                        25.7
369     24.96322     121.51237                        22.8

In [88]:
# 3
print("\nInformasi deskriptif dari dataset:")
print(df.describe())

Informasi deskriptif dari dataset:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [89]:
# 4
df.drop(columns=['No'], inplace=True)
df.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station',
              'number_of_convenience_stores', 'latitude', 'longitude',
              'house_price_of_unit_area']

In [90]:
# 5
missing_values = df.isnull().sum()
print("\nJumlah missing values di setiap kolom:")
print(missing_values)

Jumlah missing values di setiap kolom:
transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convenience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64